# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# YOLO / Ultralytics
runs/
*.pt
*.onnx

# Dataset temporary files
*.zip
*.tar
*.tar.gz

# Python tooling
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/